body {
    background-color: black;
}

h1 { 
    font-size: 5rem;
    font-family: sans-serif;
    color: cyan;
    text-align: center;
}

.valokuva{
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}